:root {
    --primarycolor: rgb(244, 98, 58);

}

.hero {
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(../img/bg-masthead.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.service h2::after,
h1::after,
.about h2::after,
.contact h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 60px;
    height: 3px;
    left: calc(50% - 30px);
}

.service h2::after,
h1::after,
.contact h2::after {
    background-color: var(--primarycolor);
}

.about h2::after {
    background-color: #ffff;
}

@media screen and (max-width:992px) {
    .nav ul {
        display: none;
    }

    .nav .icon-alt {
        display: inline-block;

    }

    .navbar {
        background-color: white;
    }

    .nav .logo {
        color: black;
    }

}

@media screen and (max-width:880px) {
    .nav {
        padding: 5px;
    }

    .hero .content .info {
        max-width: 650px;
    }

    .hero .content h1 {
        font-size: 50px;
        margin-top: 30px;
    }

    .hero .content p {
        font-size: 20px;
    }
}

@media screen and (max-width:680px) {
    .hero .content {
        margin-top: 15px;
    }

    .hero .content .info {
        max-width: 450px;
        gap: 15px;
    }

    .about .content {
        width: 85%;
    }
}

@media screen and (max-width:460px) {
    .hero .content .info {
        max-width: 300px;

    }

    .hero .content h1 {
        font-size: 40px;
    }
}

@media screen and (max-width:310px) {
    .hero .content .info {
        max-width: 250px;
        gap: 5px;
    }

    .hero .content h1 {
        font-size: 35px;
    }


}

@media screen and (max-width:767px) {
    .services-box {
        gap: calc(var(--spacer) * 12);
        grid-template-columns: repeat(1, 1fr);
    }
}